/* ~~~~~~~~~~Homepage~~~~~~~~~~ */
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #4E4E4E;
  margin: 0 auto;
  padding: 0px;
  }

.main {
  background: -webkit-linear-gradient(left,#B4C9E6,#ADDCDC);
  height: 100vh;
  width: 100vw;
  padding-top: 300px;
  padding-bottom: 300px;
}

.about {
  height: 100vh;
  width: 100vw;
  padding-top: 300px;
  padding-bottom: 300px;
}

.resume {
  height: 100vh;
  width: 100vw;
  padding-top: 30px;
  text-align: center;
}

.resumeText {
  font-size: 12px;
  text-align: center;
  width: 1000px;
  margin: auto;
  text-align: left;
}

.resumeTextHeader {
  font-size: 16px;
  width: 1000px;
  margin: auto;
  text-align: left;
}

.resumeTextFooter {
  font-size: 12px;
}

.resumepdf {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4E4E4E;
}

.emaillink {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4E4E4E;
}

ol {
  color: #4E4E4E;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.headerlist {
  color: #4E4E4E;
  display: inline;
}

.list {
  color: #4E4E4E;
}

  Footer{
   /* background: -webkit-linear-gradient(left,#B4C9E6,#ADDCDC); */
   left: 0;
   bottom: 0;
   width: 100%;
   color: #4E4E4E;
   text-align: center;
   margin: 0px;
   padding: 0px;
 }

 .placeholder{
   display:
   inline-block;width: 50px;
 }

 h1{
   text-decoration: none;
   text-align: center;
   font-size: 22px;
 }
 h2{
   text-decoration: none;
   text-align: center;
 }

 p{
   text-decoration: none;
   font-size: 16px;
   text-align: center;
   font-weight: bold;
 }

 .navbar {
   background: -webkit-linear-gradient(left,#B4C9E6,#ADDCDC);
   height: 45px;
   position: fixed;
   width: 100%;
   display: flex run-in;
   flex-wrap: wrap;
   margin: 0 auto;
 }
